

  .user-input {
    border: 1px solid;
    border-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    width: 250px;
  }

  .input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .signup-page {
    margin-top: 40px;
    border: 1px solid;
    border-color: yellowgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px 0 15px;
  }
  
  .form-title {
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .user-input:last-child {
    margin-bottom: 10px;
  }

  button {
    padding-bottom: 10px;
    padding-top: 10px;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 20px;
  }